*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
header{
  margin: 0;
  height: 70px;
  background-image: url(../img/pattern.png);
  background-color: #2196f3;
  background-size: 24%;
}

.logo{
  width: 135px;
  margin-top: 25px;
  margin-left: 8px;
}

.container{
  margin-left: 8px;
}

/* MAIN  */
h1{
  margin-bottom: 0;
  margin-top: 10px;
  font-family: 'PT Serif', serif;;
}

/* sottotitolo  */
.sottotitolo{
  color: #737373;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

.autore{
  color:#2196f3;
}

.data{
  font-size: 10px;
}
/* /sottotitolo  */

.didascalia{
  font-size: 12px;
  margin-bottom: 10px;
}

.underline{
  background-color: yellow
}

ul{
  margin-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* tabella  */
.tabella{
  margin-bottom: 20px;
}

table{
  border-collapse: collapse;
}

thead{
  background-color: #2196f3;
  color: white;
}

.blue{
  background-color: lightblue;
}

th{
  text-align: left;
}

.testo-lungo{
  width: 50%;
}
/* /tabella  */

.paragrafo-finale{
  margin-bottom: 20px;
}

/* FOOTER  */
.footer h4{
  width: 230px;
  height: 200px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 5px;
}

.for-more1{
  background-image: url(../img/monitor.jpg);
}

.for-more2{
  background-image: url(../img/graph.jpg);
}
