header{
  margin: auto;
  height: 70px;
  background-image: url(../img/pattern.png);
  background-color: rgb(1, 1, 126);
}

.logo{
  width: 140px;
}

h1{
  margin-bottom: 0;
}

.sottotitolo{
  color: lightgray;
  font-size: 14px;
  margin-top: 0;
}

.autore{
  color: lightblue;
}

.data{
  font-size: 10px;
}